*{margin: 0;padding: 0;}
a{text-decoration: none;color:#26292a;}
ul,li{list-style:none;}
body{width: 89.5%;margin: 0 auto;}
.news-list{height:515px;padding-top: 59px;font-family: "宋体"}
.news-list li{width: 535px;float: left;height:396px;}
.news-list ul .mid{border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;margin: 0 21px;width: 545px;padding-left: 10px;}
.news-list ul .top{height:196px;width: 535px;/*padding-bottom: 31px;*/position: relative;}
.news-list .top .left{width:72px;height: 50px;position: absolute;left: 0;top: 0;text-align: center;margin-top: 53px;}
.news-list h3{font-size: 28px;color:#26292a;}
.news-list h4{font-size: 14px;color:#34495e;margin-top: 53px;}
.news-list .top .right{width:463px;height: 100%;position: absolute;left: 72px;top: 0;}
.news-list .left p{font-size: 17px;color: #26292a;}
.news-list .right p{font-size: 12px;color: #34495e;line-height: 16px;margin-top: 7px;}
.news-list .right h5{font-size: 12px;color:#c33d4d;margin-top: 20px;}
.news-list ul .bot{height:200px;width: 535px;/*padding-top: 31px;*/border-top: 1px solid #dcdcdc;position: relative}
.news-list .bot .left{width:72px;height: 50px;position: absolute;left: 0;top: 0;text-align: center;margin-top: 53px;}
.news-list .bot .right{width:463px;height: 100%;position: absolute;left: 72px;top: 0;}
.news-buttons{height:110px;margin:0 auto;}
.news-buttons li{float: left;width:17px;height: 108px;border:1px solid #000;padding: 0 8px;position: relative;}
.news-buttons .big a{display: block;position: absolute;top:10%;font-size: 18px;}
.news-buttons .big .n-on{background:#006cae;border:1px solid #006cae;}
.news-buttons .big .n-n{color:#fff;}
.news-buttons .big{float: left;}
.news-buttons .big li{margin-right: 29px;transition:all 0.5s;}
.news-buttons .big li:hover{background:#006cae;border:1px solid #006cae;}
.news-buttons .big li:hover a{color:#fff;}
.news-buttons .small{float: right;}
.news-buttons .small li{margin-left: 10px;transition:all 0.5s;}
.news-buttons .small li:hover{background:#006cae;border:1px solid #006cae;}
.news-buttons .small li:hover a{color:#fff;}
.news-buttons .small a{display: block;position: absolute;top:22%;font-size: 18px;}
 footer .thisChoose{left:82px;}